<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.dao.ActivtiyCfDao" >

 <select id="getActivListAll" parameterType="com.lx.pojo.vo.ActivtiyCfVo" resultType="com.lx.pojo.po.ActivtiyCf">
 
 select * from  activtiy_cf limit #{page},#{rows}
 
 </select>
 
 <select id="getActivCountAll" parameterType="com.lx.pojo.vo.ActivtiyCfVo" resultType="java.lang.Integer">
 
 select count(*) from  activtiy_cf
 
 </select>


</mapper>